html {
  box-sizing: border-box;
  font-size: 10px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
}

/* 

  --> Reset Style <-- 

*/
button {
  background-color: inherit;
  font-family: inherit;
  outline: none;
}

/* 

  --> Helper Class <--

*/

/* 

  --> App Style <--

*/
.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.mineSweeper {
  /* min-height: 100vh; */
  margin-right: auto;
  margin-left: auto;
  max-width: 100rem;
  font-family: "OdibeeSans";
  padding-bottom: 2rem;
}

.logo__title {
  font-family: "Anima";
  font-size: 7rem;
  font-weight: bold;
  text-align: center;
  margin-top: -3rem;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
  text-transform: capitalize;
}
.restart {
  width: 19rem;
  font-size: 2rem;
  padding: 1rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 1.5rem;
}

/* level */
.level {
  width: 19rem;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 3rem 1.5rem;
  transition: all 0.2s;
  position: relative;
  border-radius: 1.5rem;
}
.level__title {
  margin-top: -17%;
  background-color: #fff;
  font-size: 2rem;
}
.options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.option {
  cursor: pointer;
}
.level__svg {
  position: absolute;
  top: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  left: 23%;
  transform: translate(-50%);
}
.level__arrow {
  width: 2rem;
}
.level__circle {
  position: absolute;
  bottom: -30%;
  transition: all 2s;
}
.level:hover .level__arrow {
  animation: arrowLevel 2s infinite linear;
}
@keyframes arrowLevel {
  from {
    transform: translateY(0.3rem);
  }
  to {
    transform: translateY(-0.3rem);
  }
}
.level:hover .level__circle {
  animation: rotate360 2s infinite linear;
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* result */
.result {
  display: none;
  text-align: center;
  font-size: 7rem;
  text-transform: uppercase;
}
.lose .result,
.win .result {
  display: block;
}

/* board */
.mineSweeper__board {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  margin-right: auto;
  margin-left: auto;
}
.square {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../images/default.svg");
  font-weight: bold;
}
.open {
  background-image: url("../images/click-down.svg");
}
.showMine {
  background-image: url("../images/min-default.svg");
}
.flag {
  background-image: url("../images/flag.svg");
}
.flag.showMine {
  background-color: green;
  background-image: url("../images/mine.svg");
}
.open.showMine {
  background-color: red;
  background-image: url("../images/mine.svg");
}
/* min count bg */
.min-count-1 {
  color: #0b24fb;
}

.min-count-2 {
  color: #0e7a11;
}

.min-count-3 {
  color: #fc0d1b;
}

.min-count-4 {
  color: #020b79;
}

.min-count-5 {
  color: #852123;
}

.min-count-6 {
  color: #278786;
}

.min-count-7 {
  color: #000;
}
.min-count-8 {
  color: #878787;
}
